<html dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Head start -->
	<title>{% block title %}{{this.pageTitle}}{% endblock %}</title>
	{#<meta name="description" content="">#}
	{#<meta name="keywords" content="">#}

	<!-- Head end -->

	<link rel="stylesheet" href="{{App.request.baseUrl}}/css/overridestyles.css" type="text/css">
	<link rel="stylesheet" href="{{App.request.baseUrl}}/css/main.css" type="text/css">
	<link rel="stylesheet" href="{{App.request.baseUrl}}/css/general.css" type="text/css">

	<link type="text/css" rel="stylesheet" href="{{App.request.baseUrl}}/css/niftyCorners.css" media="screen">

	<link rel="stylesheet" type="text/css" href="{{App.request.baseUrl}}/css/jquery.fancybox.css" />
	<script type="text/javascript" src="{{App.request.baseUrl}}/js/jquery.fancybox.pack.js"></script>
</head>
<body>
<!--  BODY -->
<div class="body_container">
<div class="tys_tl"></div>
<div class="tys_t"></div>
<div class="tys_b"></div>
<div class="all_wrapper">

<div class="tys_l"></div>
<div class="tys_r"></div>

<div><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td id="container_top" colspan="2"><div class="tys_pos_rel">

		<div class="cpt_divisions_navigation cpt_shopping_cart_info" style="background: rgba(255, 255, 255, 0.7);">
            {% set howtobuy = C.ActiveRecord.model('StaticPage').findByPk(1) %}
            {% set contacts = C.ActiveRecord.model('StaticPage').findByPk(2) %}
			{{ widget('zii.widgets.CMenu', {
				'items':[
					{'label':'Корзина', 'url':['/site/cart']},
                    {'label':'Обратная связь', 'url':'mailto:'~App.params['adminEmail']},
                    {'label':'Гостевая книга', 'url':{0:'/qa/index'} },
                    {'label': howtobuy.title, 'url':{0:'/site/staticPage', 'uri':howtobuy.uri} },
                    {'label': contacts.title, 'url':{0:'/site/staticPage', 'uri':contacts.uri} },
            ],
			}) }}
		</div>

	</div></td>
</tr>
<tr><td id="container_left_sidebar">
	<div class="tys_lbg1"><div class="tys_lbg_l"><div class="tys_lbg_r"><!-- cpt_container_start -->
		<div class="cpt_custom_html"><div class="col_header tys_ltop1">Каталог</div></div>

		<div class="cpt_category_tree" >

			{% block categories %}
				{{ widget('CategoriesTreeWidget') }}
			{% endblock %}

            <div class="cpt_product_search"><form action="{{ C.Html.normalizeUrl(['/site/search']) }}" method="get">
                <span style="font-size: 13px;
font-weight: bold;
margin-left: 15px;
margin-bottom: -3px;
display: inline-block;
margin-top: 11px;">Поиск товаров</span>
                <input style="width: 167px;" type="text" id="searchstring" name="searchstring" placeholder="название или артикул" title="Поиск товаров">
                <span style="font-size: 13px;
margin-left: 15px;
margin-bottom: -10px;
display: inline-block;">Возраст от</span>
                <input type="text" id="ageFrom" name="ageFrom" placeholder="от" class="ageSearch">
                <input type="text" id="ageTo" name="ageTo" placeholder="до" class="ageSearch">
                {{ C.Html.dropDownList('vendor', '', C.Html.listData(C.ActiveRecord.model('Vendor').findAll, 'id', 'name'), {
                'empty' : 'Производитель',
                'style': 'margin: 0 0 5px 15px; font-size:13px'
                })|raw }}
                <input type="submit" style="margin-left: 15px;" value="Найти">
            </form></div>
            <style type="text/css">
                .ageSearch {
                    width: 50px;
                    margin: 0 0 0 6px;
                    background-color: white;
                    border: 1px solid #8CBE1D;
                    font-weight: normal;
                    padding: 2px;                }
            </style>
        </div>
		<!-- cpt_container_end --></div></div></div>
	<!-- cpt_container_start -->
	<div class="cpt_custom_html"><div class="tys_ltop4"></div></div>
</td>
<td id="container_main_content"><div class="tys_mt"> </div><div class="tys_white">


<div class="cpt_maincontent"><!-- cpt_container_start -->
	{% block content %}{% endblock %}
</div>
</div><div class="tys_mb"></div></td>
</tr></tbody></table>

</div>

</div>

</div>
<script type="text/javascript" src="{{App.request.baseUrl}}/js/jquery.form.js"></script>
<script type="text/javascript">
    $('.addToCart').ajaxForm({
        success: function (data, statusText, xhr, $form) {
            $form.append("<span style='margin-left: 1em;'>Товар добавлен в {{ C.Html.link('корзину', {0:'/site/cart'})|raw|escape('js') }}</span>")
        },
        dataType: 'json'
    })
</script>

</body></html>