<html dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- Head start -->
	<title>{% block title %}{{this.pageTitle}}{% endblock %}</title>
	{#<meta name="description" content="">#}
	{#<meta name="keywords" content="">#}

	<!-- Head end -->

	<link rel="stylesheet" href="{{App.request.baseUrl}}/css/overridestyles.css" type="text/css">
	<link rel="stylesheet" href="{{App.request.baseUrl}}/css/main.css" type="text/css">
	<link rel="stylesheet" href="{{App.request.baseUrl}}/css/general.css" type="text/css">

	<link type="text/css" rel="stylesheet" href="{{App.request.baseUrl}}/css/niftyCorners.css" media="screen">

	<script type="text/javascript" src="{{App.request.baseUrl}}/js/jquery-1.7.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{App.request.baseUrl}}/css/jquery.fancybox.css" />
	<script type="text/javascript" src="{{App.request.baseUrl}}/js/jquery.fancybox.pack.js"></script>
</head>
<body>
<!--  BODY -->
<div class="body_container">
<div class="tys_tl"></div>
<div class="tys_t"></div>
<div class="tys_b"></div>
<div class="all_wrapper">

<div class="tys_l"></div>
<div class="tys_r"></div>

<div><table width="100%" border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
	<td id="container_top_left"><!-- cpt_container_start -->
		<div class="cpt_logo"><a href="http://demo-ru.webasyst.net/shop/"><img src="./shop_files/chd_logo.jpg" alt="Мой интернет-магазин"></a></div>


		<!-- cpt_container_end -->
	</td>
	<td id="container_top"><div class="tys_pos_rel">
		<!-- cpt_container_start -->
		<div class="cpt_divisions_navigation">
			{{ widget('zii.widgets.CMenu', {
				'items':[
					{'label':'Главная', 'url':['/site/index']},
					{'label':'Корзина', 'url':['/site/cart']},
					{'label':'Войти', 'url':['/site/login'], 'visible':App.user.isGuest},
					{'label':'Админ', 'url':['/admin/admin/index'], 'visible':App.user.checkAccess('adminActions')},
					{'label':'Выйти ('~App.user.name~')', 'url':['/site/logout'], 'visible':not App.user.isGuest}
				],
				'htmlOptions' : {
					'class' : 'vertical',
				}
			}) }}
		</div>

		{#<div class="cpt_auxpages_navigation"><ul class="vertical"><li><a href="http://demo-ru.webasyst.net/shop/auxpage_1/">О магазине</a></li><li><a href="http://demo-ru.webasyst.net/shop/auxpage_10/">Оплата</a></li><li><a href="http://demo-ru.webasyst.net/shop/auxpage_2/">Доставка</a></li></ul></div>#}

		{#<div class="cpt_shopping_cart_info"><div class="shcart_link"><a class="hndl_proceed_checkout" rel="nofollow" href="http://demo-ru.webasyst.net/shop/cart/">Моя корзина</a></div>#}

			{#<div id="shpcrtgc">(пусто)</div>#}
			{#<div id="shpcrtca">&nbsp;</div>#}
		{#</div>#}

		<!-- cpt_container_end -->
	</div></td>
</tr>
<tr><td id="container_left_sidebar">
	<div class="tys_lbg1"><div class="tys_lbg_l"><div class="tys_lbg_r"><!-- cpt_container_start -->
		<div class="cpt_custom_html"><div class="col_header tys_ltop1">Каталог</div></div>

		<div class="cpt_category_tree">
			{#{% if currentCategoryId %}#}
				{#{{ widget('CategoriesTreeWidget', {'currentCategoryId':currentCategoryId}) }}#}
			{#{% else %}#}
			{% block categories %}
				{{ widget('CategoriesTreeWidget') }}
			{% endblock %}
			{#{% endif %}#}
			{#<ul>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/computers/">Компьютеры</a>#}
			{#</li>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/electronics/">Электроника</a>#}
			{#</li>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/digital-cameras/">Фототехника</a>#}
			{#</li>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/books/">Книги</a>#}
			{#</li>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/music-video/">Музыка и видео</a>#}
			{#</li>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/downloads/">Программы</a>#}
			{#</li>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/podarki/">Подарки</a>#}
			{#</li>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/appliance/">Бытовая техника</a>#}
			{#</li>#}
			{#<li class="parent">#}
				{#<span class="bullet">&nbsp;</span><a href="http://demo-ru.webasyst.net/shop/category/sports-outdoors/">Спорт и отдых</a>#}
			{#</li>#}
		{#</ul>#}
		</div>
		<!-- cpt_container_end --><!-- cpt_container_start -->

		<!-- cpt_container_end --></div></div></div>
	<!-- cpt_container_start -->
	<div class="cpt_custom_html"><div class="tys_ltop4"></div></div>
	<!-- cpt_container_end -->

	<!-- cpt_container_end -->
</td>
<td id="container_main_content"><div class="tys_mt"></div><div class="tys_white">





<!-- cpt_container_start -->
<div class="cpt_maincontent"><!-- cpt_container_start -->
	{% block content %}{% endblock %}
</div>
<!-- cpt_container_end -->
</div><div class="tys_mb"></div></td>
</tr></tbody></table>

</div>

{#<div id="container_footer"><!-- cpt_container_start -->
	<div class="cpt_divisions_navigation"><ul class="horizontal"><li><a href="http://demo-ru.webasyst.net/shop/register/">Зарегистрироваться</a></li><li><a href="http://demo-ru.webasyst.net/shop/auth/">Вход с паролем</a></li><li><a href="http://demo-ru.webasyst.net/shop/pricelist/">Прайс-лист</a></li><li><a href="http://demo-ru.webasyst.net/shop/feedback/">Обратная связь</a></li><li><a href="http://demo-ru.webasyst.net/shop/linkexchange/">Обмен ссылками</a></li><li><a href="http://demo-ru.webasyst.net/shop/blog/">Блог / Новости</a></li></ul></div>
	<!-- cpt_container_end --></div>

<div class="shp_copyright"><i>© <a href="http://demo-ru.webasyst.net/shop/"><u>Мой интернет-магазин</u></a>.
</i><br></div>
#}
</div>

</div>
<!--  END -->


</body></html>