{% extends '/views/layouts/main.twig' %}

{% block content %}
<table class="cpt_product_category_info">
	<tr>
		<td><h1 style="font-size: 20px">Корзина</h1>
		</td></tr>
</table>

		{% if cart %}
<form action="{{C.Html.normalizeUrl({0:'site/changeCart'})}}" method="post">
	<input type="hidden" value="" id="removeFromCart" name="removeItemId">
<table>
	<tr>
		<th></th>
		<th></th>
		<th>Кол-во</th>
		<th>Стоимость</th>
		<th></th>
	</tr>
{% for itemId, count in cart %}
	{% set item = items[itemId] %}
<tr>
	<td>													<a href="{{item.url}}">
		<img src="{{item.photoUrl}}" alt="{{item.name}}" title="{{item.name}}" style="max-width: 150px">
	</a>
	</td>
	<td>			<a href="{{item.url}}">{{item.name}}</a>
	</td>
	<td>
		<input type="text" value="{{count}}" name="count[{{itemId}}]"size="3" >
	</td>
	<td>
	{{item.price*count}} руб.
	</td>
	<td>
		<input type="submit" name="removeFromCart" value="Убрать из корзины" onclick="$('#removeFromCart').val('{{itemId}}');"></td>
</tr>
{% endfor  %}
</table>

	<input type="submit" name="recalculate" value="Пересчитать">
	<input type="button" name="order" value="Оформить заказ" onclick="$('#order').show();return false;">
	<script type="text/javascript"></script>
</form>
<p>&nbsp;</p>


<div id="order" {%if not order.getErrors%}style="display: none;"{%endif%}>
<p class="note"><strong>Поля с символом <span class="required">*</span> обязательны для заполнения.</strong></p>
{% set form = this.beginWidget('CActiveForm', {
	'enableClientValidation': true,
	'clientOptions': {'validateOnSubmit': true},
}) %}
	<p>
		{{form.labelEx(order,'userName')|raw}}
		{{form.textField(order,'userName')|raw}}
		{{form.error(order,'userName')|raw}}
	</p>
	<p>
		{{form.labelEx(order,'userEmail')|raw}}
		{{form.textField(order,'userEmail')|raw}}
		{{form.error(order,'userEmail')|raw}}
	</p>
	<p>
		{{form.labelEx(order,'userPhone')|raw}}
		{{form.textField(order,'userPhone')|raw}}
		{{form.error(order,'userPhone')|raw}}
	</p>
    <p>
        Адрес доставки:
    </p>
	<p>
		{{form.labelEx(order,'city')|raw}}
		{{form.textField(order,'city')|raw}}
		{{form.error(order,'city')|raw}}
	</p>
	<p>
		{{form.labelEx(order,'street')|raw}}
		{{form.textField(order,'street')|raw}}
		{{form.error(order,'street')|raw}}
	</p>
	<p>
		{{form.labelEx(order,'house')|raw}}
		{{form.textField(order,'house')|raw}}
		{{form.error(order,'house')|raw}}
	</p>
	<p>
		{{form.labelEx(order,'apartment')|raw}}
		{{form.textField(order,'apartment')|raw}}
		{{form.error(order,'apartment')|raw}}
	</p>
	<p>
		{{form.labelEx(order,'date')|raw}}
		{{form.textField(order,'date')|raw}}
		{{form.error(order,'date')|raw}}
	</p>
<p>
	{{C.Html.submitButton('Заказать')|raw}}
</p>
{{ void(this.endWidget()) }}
</div>
	<style type="text/css">
	td {
		padding: 5px;
	}
		label {
			width: 130px;
			display: inline-block;
		}
</style>
<script type="text/javascript" src="{{App.request.baseUrl}}/js/glDatePicker.js"></script>
<link rel="stylesheet" href="{{App.request.baseUrl}}/css/datepicker.css" type="text/css">
<script type="text/javascript">
    $('#Order_date').glDatePicker({
        allowOld: false,
        startDate: new Date(),
        onChange: function(target, newDate)
        {
            target.val
                    (
                            newDate.getDate() + "." +
                                    (newDate.getMonth()+1) + "." +
                                    newDate.getFullYear()
                    );
        }
    });
</script>
		{%else%}
		Корзина пустая
		{%endif%}
{% endblock %}

