{% extends '/views/layouts/main.twig' %}

{% block content %}
<table class="cpt_product_category_info">
	<tr>
		<td><h1 style="font-size: 20px">{{App.name}}</h1>
		</td></tr>
</table>


<table cellpadding="6" border="0" width="95%">
	{% for item in items %}
{% if loop.index is not even %}
<tr>
	{% endif %}
	<td valign="top" width="50%">
		<!-- start product_brief.html -->
		<form class="product_brief_block" action="{{C.Html.normalizeUrl({0:'site/addToCart', 'itemId':item.id})}}" method="post">

		<div class="prdbrief_thumbnail">
			<table cellpadding="0" cellspacing="0">
				<tbody><tr>
					<td align="center" valign="middle" style="width: 150px; height: 150px;">
						<!-- Thumbnail -->
						<a href="{{item.url}}">
							<img src="{{item.photoUrl}}" alt="{{item.name}}" title="{{item.name}}" style="max-width: 150px">
						</a>
					</td>
				</tr>
				</tbody></table>
		</div>

			<div class="prdbrief_name">
				<a href="{{item.url}}">{{item.name}}</a>
			</div>


		<div class="prdbrief_price">
			<span class="totalPrice">{{item.price}} руб.</span>
		</div>


			<div class="prdbrief_add2cart">
				<input type="image" src="/images/add2cart_small_ru.gif" alt="добавить в корзину" title="добавить в корзину" class="add2cart_handler" rel="">
			</div>


	</form>
		<!-- end product_brief.html -->

	</td>
	{% if loop.index is even %}
</tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}
