{% extends '/views/layouts/main.twig' %}

{% block categories %}
{{ widget('CategoriesTreeWidget', {'currentCategoryId':currentCategoryId}) }}
{% endblock %}

{% block content %}
<table class="cpt_product_category_info">
	<tr>
		<td><h1 style="font-size: 20px">{{category.parent.name}} / {{category.name}}</h1>
		</td></tr>
</table>

<h1>{{item.name}}</h1>

<p>
{% if item.photo %}
<ul class='fancybox'>
	{% for photo in item.photo %}
	<li><a href='{{photo}}' rel='gallery1'><img style='max-width:100px' src='{{photo}}'/></a></li>
	{% endfor %}
</ul>
{% endif %}
</p>

<script type="text/javascript">
	(function ($, F) {
		// Next gallery item - fly from left side to the center
		F.transitions.slideIn = function() {
			var endPos = F._getPosition(true);

			endPos.opacity = 0;

			F.wrap.css(endPos).show().animate({
				opacity: 1
			}, {
				duration: F.current.nextSpeed,
				complete: F._afterZoomIn
			});
		};

		// Current gallery item - fly from center to the right
		F.transitions.slideOut = function() {
			F.wrap.removeClass('fancybox-opened').animate({
				opacity: 0
			}, {
				duration: F.current.prevSpeed,
				complete: function () {
					$(this).trigger('onReset').remove();
				}
			});
		};
	}(jQuery, jQuery.fancybox));


	$(document).ready(function() {
		$("ul.fancybox li a").fancybox({
			prevMethod : 'slideOut',
			nextMethod : 'slideIn'
		});
	});
</script>

<p>
<form action="{{C.Html.normalizeUrl({0:'site/addToCart', 'itemId':item.id})}}" method="post">
	Кол-во:&nbsp;<input type="text" class="product_qty" size="3" name="count" value="1" />
	<input name="add2cart" type="image" src="/images/add2cart_ru.gif" alt="добавить в корзину" title="добавить в корзину" class="add2cart_handler" rel="">
</form>
</p>

<p>Артикул: {{item.article}}</p>
<p>Цена: <span class="totalPrice">{{item.price}} руб</span></p>
		{% if item.age %}
<p>Возраст: {{item.age}}</p>

{%endif%}
<p>{{item.description}}</p>
{% endblock %}
